* {
  margin: 0;
  padding: 0;
}
$grey: #575656;
$light-grey: #e0e0e0;

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  .body__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    box-sizing: border-box;

    .header__title {
      color: $grey;
      display: flex;
      align-items: center;
      font-weight: 500;
      & > img {
        width: 30px;
        margin-right: 10px;
      }
    }
    .header__tools-bar {
      display: flex;
      align-items: center;
      width: max-content;
      justify-content: space-between;
      padding-right: 20px;

      .tools-bar__tool {
        color: $grey;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.2rem;
        margin: 0 15px;
      }

      #share-btn {
        background: transparent;
        border: none;
        cursor: pointer;
      }
      #status-bar {
        & > i {
          margin-right: 5px;
        }
      }
      #sort {
        cursor: pointer;
      }
    }
  }
  main {
    .main__title {
      color: black;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 3.5em;
      margin: 60px;
      margin-bottom: 30px;
      & > img {
        width: 50px;
        margin-right: 10px;
      }
    }
    .main__table-container {
      width: 90vw;
      height: 90vh;
      max-width: 90vw;
      max-height: 70vh;
      overflow: auto;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      .table-container__header {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        font-size: 1.3em;
        align-items: center;

        .header__switch-view {
          display: flex;
          align-items: center;
          height: max-content;
          width: 100px;
          justify-content: space-between;
          cursor: pointer;
          user-select: none;
        }
        .header__tools-bar {
          display: flex;
          align-items: center;
          width: max-content;
          justify-content: space-between;
          color: darkgrey;
          padding-right: 10px;

          .tools-bar__tool {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            margin: 0 20px;
            cursor: pointer;
            user-select: none;
          }
          .tools-bar__tool_active {
            color: $grey;
          }

          .tools-bar__btn {
            background: #519cd7;
            color: white;
            border-radius: 5px;
            border: none;
            width: max-content;
            height: max-content;
            cursor: pointer;
            margin-left: 20px;
            padding: 5px 15px;
            font-family: "Roboto", sans-serif;
            font-size: 0.8em;
            box-shadow: 0px 0px 1.5px 1px rgba(0, 0, 0, 0.75);
            margin-top: 2px;
          }
        }
      }
      .table-container__tools-variants {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: flex-end;
        .tools-variants__variant {
          border-radius: 5px;
          margin: 10px;
          border: none;
          font-family: "Roboto", sans-serif;
          padding: 10px 15px;
          box-sizing: border-box;
          font-size: 1.05em;
          cursor: pointer;
          background: #e6e6e6;
          display: flex;
          align-items: center;

          & > input {
            margin-right: 10px;
          }
        }
        .tools-variants__make {
          background: #519cd7;
          color: white;
          border-radius: 5px;
          border: none;
          width: max-content;
          height: max-content;
          cursor: pointer;
          font-family: "Roboto", sans-serif;
          padding: 10px 15px;
          font-size: 1.05em;
          margin: 10px;
          box-shadow: 0px 0px 1.5px 1px rgba(0, 0, 0, 0.75);
        }
        .tools-variants__return-to-default {
          background: #519cd7;
          color: white;
          border-radius: 5px;
          border: none;
          width: max-content;
          height: max-content;
          cursor: pointer;
          font-family: "Roboto", sans-serif;
          padding: 10px 15px;
          font-size: 1.05em;
          margin: 10px;
          box-shadow: 0px 0px 1.5px 1px rgba(0, 0, 0, 0.75);
        }
      }

      table {
        margin-top: 15px;
        border: 2px solid $light-grey;
        border-collapse: collapse;
        td {
          padding: 10px 12px;
          box-sizing: border-box;
          border: 2px solid $light-grey;
          border-top: none;
          border-bottom: none;
          text-align: left;
          max-width: 170px;
          overflow: auto;
          font-weight: 500;
          font-size: 18px;
          & > i {
            margin-right: 3px;
          }
        }
        .table__main-tr {
          cursor: pointer;
          user-select: none;
          color: rgb(138, 138, 138);
          border-top: 2px solid $light-grey;
          font-weight: 500;
        }
        .table__todo-tbody {
          cursor: pointer;
          color: #4b4c4c;
          border-top: 2px solid $light-grey;

          .name {
            color: #4c4c4c;
          }
          .status-span {
            padding: 5px 15px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            width: max-content;
            & > img {
              width: 30px;
              margin-left: 6px;
            }
          }
          .price {
            text-align: right;
          }
          .confidence {
            text-align: right;
          }
          .check-priority {
            transform: scale(1.9);
            cursor: pointer;

            &:disabled {
              background: #519cd7;
              border: none;
            }
          }
          .tel {
            cursor: pointer;
            color: #4b4c4c;
            font-weight: 500;
            text-decoration: none;
          }
        }
      }
      .table-container__add-row {
        width: 100%;
        text-align: left;
        background: transparent;
        font-family: "Roboto", sans-serif;
        color: #dfe0e0;
        cursor: pointer;
        border: none;
        padding: 10px 0;
        font-size: 1.5em;
        border-bottom: 2px solid $light-grey;
      }
      .table-container__results {
        display: flex;
        width: 500px;
        justify-content: space-around;
        margin-top: 35px;

        .results__text {
          color: #a6a6a6;
          font-weight: 500;
          font-size: 1.5em;

          #counts {
            color: #4d4d4d;
          }
          #sum {
            color: #4d4d4d;
          }
        }
      }
      .table-container__new-row-configurator {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        flex-wrap: wrap;
        height: 320px;
        display: none;

        .new-row-configurator__label {
          padding: 10px;
          box-sizing: border-box;
          border-radius: 5px;
          margin: 15px;
          width: 290px;
          border: 2px solid #e0e0e0;
          & > input {
            font-family: "Roboto", sans-serif;
            outline: none;
            padding: 5px 15px;
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 1.2em;
            border: 2px solid #e0e0e0;
            width: 100%;
          }

          .label__text {
            text-align: center;
            margin-top: 10px;
            font-size: 1.2em;
          }
          #configure-the-price {
            padding-right: 0;
          }
          #configure-the-trust {
            padding-right: 0;
          }
          .select-priority {
            display: flex;
            align-items: center;

            .label__text {
              margin-top: 0;
              margin-left: 10px;
            }
          }
          .label__select-status {
            max-height: 160px;
            overflow: auto;
            padding: 5px;
            box-sizing: border-box;

            .select-status__container {
              padding: 10px 19px;
              border-radius: 5px;
              display: flex;
              align-items: center;
              width: max-content;
              margin: 0 auto;
              margin-top: 15px;
              .label__text {
                margin-top: 0;
                margin-left: 10px;
              }
            }
            #one {
              background: #d1e7e5;
            }
            #two {
              background: #e1cee4;
            }
            #three {
              background: #d6eff8;
            }
            #four {
              background: #d3d6e8;
            }
            #five {
              background: #f0f0f0;
            }
          }
        }
        .new-row-configurator__make {
          position: relative;
          left: -240px;
          top: -50px;
          background: #519cd7;
          color: white;
          border-radius: 5px;
          border: none;
          width: max-content;
          height: max-content;
          cursor: pointer;
          font-family: "Roboto", sans-serif;
          padding: 10px 15px;
          font-size: 1.05em;
          box-shadow: 0px 0px 1.5px 1px rgb(0 0 0 / 75%);
        }

      }
    }
  }
}
